@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #FF0000;
    --secondary: #FFB800;
    --bg: #0c0c0c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Readex Pro', "Segoe UI", system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.App {
    background-color: var(--bg);
}

.wrapper {
    width: 1100px;
    margin: 0 auto;
}

/*-------------HEADER---------------*/
.page-header .wrapper{
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.page-header .logo {
    display: flex;
    align-items: center;

    width: 82px;
    font-family: "Readex Pro";
    color: var(--secondary);
}

.page-header .logo .text {
    margin-left: 12px;
}

header.page-header .searchBar {
    display: flex;
    align-items: center;
    position: relative;
}

header.page-header .searchBar *:first-child {
    width: 18px;
    left: 1rem;
    position: absolute;
}

header.page-header .searchBar span.line {
    /* border: 1px solid #a5a5a5; */
    background-color: #adadad;
    height: 25px;
    width: 1px;
    position: absolute;
    left: 46px;
}

header.page-header .searchBar #search{
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    
    padding-left: 58px;
    height: 37px;
    width: 477px;
    border-radius: 15px;

    border: none;
}

#search::placeholder {
    color: #747474;
}

#search:focus {
    color: #000;
    outline: none;
}

/*--------------MOVIE----------------*/
.movie {
    width: 200px;
}

.movie .moviePortrait img{
    width: 200px;
    border-radius: 18px;
}

.movie .glassy {
    position: relative;
    top: -23px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: linear-gradient(180deg, rgba(12, 12, 12, 0.022) 0%, rgba(0, 0, 0, 0.22) 100%);
    backdrop-filter: blur(3.74217px);

    /* border-width: 0.75px;
    border-style: solid;
    border-image: linear-gradient(rgba(255,255,255,0) 20%, #fff 100%) 2; */
    
    border-bottom: 0.75px solid #fefefe;

    border-radius: 0 0 18px 18px;
    padding: 12px 16px;
}

.movie .glassy .addWatchList *{
    width: 20px;
}

.movie .glassy .rating {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.movie .glassy .rating .ratVal {
    font-size: 11px;
    font-weight: 400;
    margin-left: 4px;
}

.movie .glassy .movieTitle {
    font-size: 16px;
}



/*-------------FOOTER---------------*/
footer.page-footer {
    padding-top: 230px;
    padding-bottom: 42px;
}
footer.page-footer .wrapper .logo {
    display: flex;
    align-items: center;
    margin: 0 auto 64px;
    width: 184px;
}

footer.page-footer .wrapper .logo .text {
    font-weight: 700;
    font-size: 40px;
    margin-left: 25px;
}

footer.page-footer .wrapper nav.socmedNav * {
    height: 30px;
}

footer.page-footer .wrapper nav.socmedNav *:hover {
    cursor: pointer;
}

footer.page-footer .wrapper nav.socmedNav {
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    width: 374px;
}

footer.page-footer .wrapper .ket {
    margin-top: 34px;
    margin-bottom: 46px;

    font-weight: 300;
    font-size: 20px;
    color: #ebebeb;
    text-align: center;
}

footer.page-footer .wrapper .teamMembers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    font-size: 20px;
    font-weight: 500;
}

footer.page-footer .wrapper .teamMembers .name {
    color: var(--secondary);
    margin-bottom: 10px;
}

/* Home  */
.wrapper h1{
    font-size: 28px;
    font-weight: 600;
    color: #FFB800;
    margin: 12px 0;
}
/* End Home */

/* mainSlider */
.mainSlider{
    margin: 20px 0;
}
.mainSlider img{
    width: 100%;
}

/* End mainSlider */

/* Top Picks */
.topPicks .subsesTitle{
    font-size: 24px;
    font-weight: 600;
    border-left: 5px solid #FF0000;
    padding: 0 23px;
}

.descriptions{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.descriptions p{
    font-size: 15px;
    font-weight: 300;
}

.singleRowMovie{
    display: flex;
    justify-content: space-around;
}
/* End Top Picks */

/* Fan Favorites */
.fanFavorites{
    margin: 60px 0;
}
.fanFavorites .subsesTitle{
    font-size: 24px;
    font-weight: 600;
    border-left: 5px solid #FF0000;
    padding: 0 23px;
}
/* end Fan Favorites */


/* In Theaters */
.inTheaters .subsesTitle{
    font-size: 24px;
    font-weight: 600;
    border-left: 5px solid #FF0000;
    padding: 0 23px;
}
/* End In Theaters */

/* Recently Viewed */
.recentlyViewed{
    margin: 70px 0;
}

.viewed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
}

.viewed h2{
    font-size: 28px;
}

.viewed p{
    font-size: 15px;
}
/* End Recently Viewed */
